<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.aeium.puzzle_729"
    versionCode = "11"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->

<platform name="android">
       <preference name="android-targetSdkVersion" value="28" />
</platform>
    
  <name>729</name>

  <description>
      Number Slider Game
  </description>

  <author email="nathan.epstein.1@gmail.com">
      Nathan Epstein
  </author>

</widget>
